body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 3rem;
}

h2{
    color: brown;
}

button {
    height: 45px;
    width: 170px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    border-radius: 15px;
    transition: 300ms all ease-in-out;
}

button:hover{
    background-color: blue;
}

input {
    height: 30px;
    width: 170px;
}